{{define "head"}}
  <title>Tickets | The Best Ticket Bot for Discord</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" media="none" onload="if(media!='all')media='all'">

  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" media="none" onload="if(media!='all')media='all'">

  <!-- Theme CSS -->
  <link type="text/css" href="/assets/blk/css/blk-design-system.min.css" rel="stylesheet">

  <!-- Theme JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
  <!--<script src="/assets/blk/js/core/popper.min.js"></script>-->
  <script src="/assets/blk/js/core/bootstrap.min.js" defer></script>
  <!--<script src="/assets/blk/js/blk-design-system.min.js"></script>-->

  <!-- Custom CSS -->
  <link type="text/css" href="/assets/css/style.css" rel="stylesheet">
  <link type="text/css" href="/assets/css/info.css" rel="stylesheet">
  <link type="text/css" href="/assets/css/index.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">

  <!-- SEO  -->
  <meta name="description" content="A simple and powerful Discord Ticket Bot with a web UI and various ticket tools to implement an effective Discord ticket system">
  <meta name="keywords" content="discord bot,discord support bot,support bot,discord bot commands,discord tickets bot, tickets bot, discord ticket bot, ticket bot,discord ticket system, ticket system, ticket system discord, discord ticket tool, ticket tool discord, discord ticket tools, discord tickets">
  <meta name="theme-color" content="#171941">

  <!-- OpenGraph Embed Meta -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://ticketsbot.net">
  <meta property="og:image" content="https://ticketsbot.net/assets/img/logo.png">
  <meta property="og:title" content="Tickets: The Best Ticket Bot for Discord">
  <meta property="og:description" content="Tickets is simple, customisable and powerful Discord ticket system complete with a web UI. Learn how to get up and running in under 30 seconds today.">

  <!-- schema.org -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Thing",
      "name": "Tickets",
      "url": "https://ticketsbot.net",
      "sameAs": [
        "https://twitter.com/TicketsDiscord",
        "https://top.gg/bot/508391840525975553"
      ],
      "image": "https://ticketsbot.net/assets/img/logo.png",
      "description": "Tickets is simple, customisable and powerful Discord ticket system complete with a web UI. Learn how to get up and running in under 30 seconds today."
    }
  </script>

  <!-- Google Analytics -->
  <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-161945537-1', 'auto');
      ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <!-- End Google Analytics -->

  <!-- web manifest -->
  <link rel="manifest" href="/assets/manifest.webmanifest">
{{end}}