{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "head" .}}
  </head>
  <body class="index-page">
    <div class="content">
      {{template "content" .}}
    </div>
  </body>
</html>
{{end}}