{{define "content"}}
  <div class="wrapper">
    <div class="page-header header-filter">
      <div class="squares square1"></div>
      <div class="squares square2"></div>
      <div class="squares square3"></div>
      <div class="squares square5"></div>
      <div class="squares square7"></div>
      <div class="container">
        {{template "navbar" .}}
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <h2 class="mb-5">
              <span>Premium</span>
            </h2>
            <p style="margin-bottom: 40px">Premium offers benefits to help you manage your tickets even more efficiently.
              Purchasing premium also helps support the development of Tickets and help us pay our server bills.
            </p>

            <table class="table">
              <thead>
              <tr>
                <th class="text-center"></th>
                <th class="text-center">Free</th>
                <th class="text-center">Premium</th>
                <th class="text-center">Whitelabel</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="text-center" style="width: 35%">Unlimited tickets</td>
                <td class="text-center"><i class="fas fa-check"></i></td>
                <td class="text-center"><i class="fas fa-check"></i></td>
                <td class="text-center"><i class="fas fa-check"></i></td>
              </tr>
              <tr>
                <td class="text-center" style="width: 35%">Ticket archives</td>
                <td class="text-center"><i class="fas fa-check"></i></td>
                <td class="text-center"><i class="fas fa-check"></i></td>
                <td class="text-center"><i class="fas fa-check"></i></td>
              </tr>
              <tr>
                <td class="text-center" style="width: 35%">Ticket claiming</td>
                <td class="text-center"><i class="fas fa-check"></i></td>
                <td class="text-center"><i class="fas fa-check"></i></td>
                <td class="text-center"><i class="fas fa-check"></i></td>
              </tr>
              <tr>
                <td class="text-center" style="width: 35%">Message footer branding removal</td>
                <td class="text-center"><i class="fas fa-times"></i></td>
                <td class="text-center"><i class="fas fa-check"></i></td>
                <td class="text-center"><i class="fas fa-check"></i></td>
              </tr>
              <tr>
                <td class="text-center" style="width: 35%">Create ticket panels</td>
                <td class="text-center">3</td>
                <td class="text-center">Unlimited</td>
                <td class="text-center">Unlimited</td>
              </tr>
              <tr>
                <td class="text-center" style="width: 35%">Access to statistics (t!stats)</td>
                <td class="text-center"><i class="fas fa-times"></i></td>
                <td class="text-center"><i class="fas fa-check"></i></td>
                <td class="text-center"><i class="fas fa-check"></i></td>
              </tr>
              <tr>
                <td class="text-center" style="width: 35%">Live messages updates on the web panel ticket view</td>
                <td class="text-center"><i class="fas fa-times"></i></td>
                <td class="text-center"><i class="fas fa-check"></i></td>
                <td class="text-center"><i class="fas fa-check"></i></td>
              </tr>
              <tr>
                <td class="text-center" style="width: 35%">Ability to send messages to tickets from the web panel ticket view</td>
                <td class="text-center"><i class="fas fa-times"></i></td>
                <td class="text-center"><i class="fas fa-check"></i></td>
                <td class="text-center"><i class="fas fa-check"></i></td>
              </tr>
              <tr>
                <td class="text-center" style="width: 35%">Customise bot name</td>
                <td class="text-center"><i class="fas fa-times"></i></td>
                <td class="text-center"><i class="fas fa-times"></i></td>
                <td class="text-center"><i class="fas fa-check"></i></td>
              </tr>
              <tr>
                <td class="text-center" style="width: 35%">Customise bot avatar</td>
                <td class="text-center"><i class="fas fa-times"></i></td>
                <td class="text-center"><i class="fas fa-times"></i></td>
                <td class="text-center"><i class="fas fa-check"></i></td>
              </tr>
              <tr>
                <td class="text-center" style="width: 35%">Customise bot status</td>
                <td class="text-center"><i class="fas fa-times"></i></td>
                <td class="text-center"><i class="fas fa-times"></i></td>
                <td class="text-center"><i class="fas fa-check"></i></td>
              </tr>
              <tr>
                <td class="text-center" style="width: 40%"></td>
                <td class="text-center"><button type="button" class="btn btn-info" onclick="location.href='https://invite.ticketsbot.net'">Invite</button></td>
                <td class="text-center"><button type="button" class="btn btn-info" onclick="location.href='https://www.patreon.com/join/ticketsbot/checkout?rid=4071609'">$2/mo</button></td>
                <td class="text-center"><button type="button" class="btn btn-info" onclick="location.href='https://www.patreon.com/join/ticketsbot/checkout?rid=5259899'">$4/mo</button></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{{end}}
